<a href="https://colab.research.google.com/github/Anjalipeth/Lecture-Demo/blob/main/1_to_28_program(Anjali).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1=int(input("Enter Number 1:"))
print(type(num1))
num2=float(input("Enter Number 2:"))
print(type(num2))
sum = float(num1) + float(num2)
print(type(num1))
print(type(num2))
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum ))
print(type(num1))
print(type(num2))
print(type(sum))

Enter Number 1:5
<class 'int'>
Enter Number 2:4
<class 'float'>
<class 'int'>
<class 'float'>
The sum of 5 and 4.0 is 9.0
<class 'int'>
<class 'float'>
<class 'float'>

In [ ]:
a=float(input('enter the first value:'))
b=float(input('enter the second value:'))
c=float(input('enter the third value:'))
s=(a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the tringle is %0.2f' %area)

enter the first value:25
enter the second value:22
enter the third value:12
The area of the tringle is 132.00

In [ ]:
b=float(input('enter the base:'))
h=float(input('enter the base:'))
area=b*h*0.5
print("area of tringle", area)

enter the base:5
enter the base:8
area of tringle 20.0

# **Square root**

In [ ]:
num=int(input("enter any no:"))
import math
print(math.sqrt(num))

enter any no:8
2.8284271247461903

In [ ]:
num = 4
#num = float(input('Enter a number:'))
num_sqrt = num ** 0.5
print('The square root of %0.3f is %0.3f'%(num, num_sqrt))

The square root of 4.000 is 2.000

In [ ]:
import cmath
num=1+2j
num_sqrt=cmath.sqrt(num)
print('square root', num_sqrt)

square root (1.272019649514069+0.7861513777574233j)

# **Swap two variable with temp variable**

In [ ]:
#x = input('Enter value of x: ')
#y = input('Enter value of y: ')
temp = x
x = y
y =  temp
print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

NameError: name 'x' is not defined

In [ ]:
x=int(input('Enter the value:'))
y=int(input('Enter the value:'))
x,y=y,x
print('x=', x)
print('y=', y)

Enter the value:8
Enter the value:5
x= 5
y= 8

In [ ]:
x=int(input('enter the value:'))
y=int(input('enter the value:'))
x,y=y,x
print('x=', x)
print('y=', y)

enter the value:10
enter the value:5
x= 5
y= 10

# **Generate random number**

In [ ]:
#program to generte a random number between 0 to 8
#importing the random module
import random
print(random.randint(0.8))

TypeError: Random.randint() missing 1 required positional argument: 'b'

# **check num is possitive or negative**

In [ ]:
#nested loop
num = float(input("Enter a number: "))
if num > 0:
  print("positive number")
elif num == 0:
  print("zero")
else:
  print("Negative number")

Enter a number: 0
zero

In [ ]:
#nested loop
num = float(input("Enter a number: "))
if num > 0:
  print("possitive number")
elif num == 0:
  print("zero")
else:
  print("Negative number")

Enter a number: 2
possitive number

In [ ]:
num = float(input("Enter a number: "))
if num >=0:
  print("possitive number")
else:
  print("Negative number")

Enter a number: 8
possitive number

# **Check odd and even value**

In [ ]:
num = int(input("Enter a number: "))
if (num %2) == 0:
  print("{0} is Even".format(num))
else:
  print("{0} is odd".format(num))

Enter a number: 3
3 is odd

In [ ]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
  print("{0} is Even".format(num))
else:
  print("{0} is odd".format(num))

Enter a number: 6
6 is Even

# **Leap Year**

In [ ]:
year = int(input("Enter a year: "))
if (year % 400 == 0) and (year % 100 == 0):
  print("This is a leap year:")
elif (year % 4 ==0) and (year % 100 != 0):
  print("This is a leap year:")
else:
  print("This is a not leap year:")

Enter a year: 600
This is a not leap year:

# **Largest number three numbers**

In [ ]:

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
if (num1 >= num2) and (num1 >= num3):
  largest = num1
elif (num2 >= num1) and (num2 >= num3):
  largest = num2
else:
  largest = num3
  print("The largest number is", largest)

Enter first number: 16
Enter second number: 17
Enter third number: 18
The largest number is 18.0

# **Prime number**

In [ ]:
num = int(input("Enter a number: "))
flag = False
if num > 1:
  for i in range(2, num):
    if (num%i)==0:
      flag = True
      break
if flag:
  print("This is a not prime number")
else:
  print("This is a prime number")

Enter a number: 7
This is a prime number

# **Factorial**

In [ ]:
num = int(input("Enter a number: "))
factorial = 1
if num > 0:
  print("sorry, factorial does not exist for negative numbers")
elif num == 0:
  print("The factorial of 0 is 1")
else:
  for i in range(1,num + 1):
    facrorial = factorial*i
  print("The factorial of",num,"is",factorial)

Enter a number: 5
sorry, factorial does not exist for negative numbers

# **recursion factor number**

In [ ]:
def factorial(x):
  if x == 1:
    return 1
  else:
    return (x * factorial(x-1))
num = int(input("Enter a number: "))
result = factorial(num)
print("The factorial of", num, "is", result)

Enter a number: 8
The factorial of 8 is 40320

# **Amstrong number with n digit**

In [ ]:
# n digit
order = len(str(num))
sum = 0
temp = num
while temp > 0:
  digit = temp % 10
  sum += digit ** order
  temp //= 10
if num == sum:
  print(num,"is an Armstrong number")
else:
  print(num,"is not an Armstrong number")

8 is an Armstrong number

In [ ]:
# 4 digit
num=int(input('Enter any num:'))
sum=0
temp=num
while temp>0:
  digit=temp%10
  sum+=digit**4
  temp//=10
if num==sum:
  print(num,'is an armstrong no')
else:
  print(num,'is not an armstrong no')

Enter any num:4
4 is not an armstrong no

In [ ]:
#armstrong in an interval
lower=100
upper=2000
for num in range(lower,upper+1):
  order=len(str(num))
  sum=0
  temp=num
  while temp>0:
    digit=temp%10
    sum+=digit ** order
    temp//=10
  if num==sum:
    print(num)

153
370
371
407
1634

# **sum of natural no**

In [ ]:
num = int(input("Enter the Number:"))
if num < 0:
  print("Enter a possitive number")
else:
  sum = 0
  while(num > 0):
    sum += num
    num -= 1
  print("The sum of Natural Numbers upto given number is",sum)

Enter the Number:6
The sum of Natural Numbers upto given number is 21

# **Fabinacci Series**

In [ ]:
nterms=int(input('how amny terms?'))
n1,n2=0,1
count=0
if nterms<=0:
  print("please enter a possitive integer")
elif nterms==1:
  print("fibonacci sequence upto",nterms,":")
  print(n1)
else:
  print("Fabinacci sequence:")
  while count>nterms:
    print(n1)
    nth=n1+n2
    n1=n2
    n2=nth
    count +=1

how amny terms?5
Fabinacci sequence:

# **Multiplication table**

In [ ]:
num=int(input('display multiplication table of ?'))
for i in range(1,11):
  print(num,'x',i,'=',num*i)

display multiplication table of ?8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
# reverse multiplication table
num=int(input('display multiplication table of ?'))
for i in range (10,0,-1):
  print(num,'x',i,'=',num*i)

display multiplication table of ?50
50 x 10 = 500
50 x 9 = 450
50 x 8 = 400
50 x 7 = 350
50 x 6 = 300
50 x 5 = 250
50 x 4 = 200
50 x 3 = 150
50 x 2 = 100
50 x 1 = 50

# **Quadratic equation**

In [ ]:
import cmath
a=int(input('Enter first value'))
b=int(input('Enter the second value:'))
c=int(input('Enter third value:'))
d=(b**2)-(4*a*c)
sol1=(-b-cmath.sqrt(d))/(2*a)
sol2=(-b+cmath.sqrt(d))/(2*a)
print('quadratic eq',sol1,sol2)

Enter first value1
Enter the second value:5
Enter third value:6
quadratic eq (-3+0j) (-2+0j)

# **convert miles to kilometers**

In [ ]:
miles=float(input("enter the value in miles:"))
fact=0.62171
km=miles/0.62171
print('kilometer',km)

enter the value in miles:6
kilometer 9.65080182078461

# **convert kilometers to miles**

In [ ]:
kilometers=float(input("enter the value in kilometers:"))
fact=0.62171
miles=kilometers*0.621371
print("miles",miles)

enter the value in kilometers:8
miles 4.970968

# **Celsius to Fahrenheit**

In [ ]:
celsius=36.5
f=(celsius*1.8)+32
print('Fahrenheit',f)

Fahrenheit 97.7